.my-langs {
    padding: 24px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.my-languages-table {

    tr {
        border-bottom: 1px solid $text;
    }

    .table-footer {
        border-bottom: none;
        text-align: center;
        td {
            padding-top: 32px;
        }
        a {
            color: $text;
            text-transform: uppercase;
            letter-spacing: 2px;
            background: $primary;
            padding: 6px 12px;
            font-weight: 400;
            font-family: $industry;
            &:hover {
                color: $text;
            }
        }
    }
    .table-header {
        border-bottom: none;
        th {
            font-size: 24px;
            padding: 12px;
            text-align: left;
        }
    }    

    .head-row {
        th {
            font-family: $industry;
            font-weight: 400;
            border-bottom: 2px solid $text;
            text-transform: uppercase;
            padding: 6px;
        }
    }

    td {
        padding: 8px 16px;
        border-right: 1px solid $text;
    }

    td:last-child {
        border-right: none;
    }



}