@import 'colors';
@import 'fonts';

.header {
    align-items: center;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    .beta {
        width: 100%;
        height: 1.5rem;
        background-color: #607989;
        color: white;
        margin: 0;
        text-align: center;
        box-sizing: border-box;
        font-size: 1rem;
        line-height: 1.5rem; 
        font-weight: bold;
    }
}

.logo {
    img {
        max-height: 32px;
    }
}

.nav {
    display: flex;
    justify-content: center;
    li {
        margin: 6px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        padding: 3px 0;
    }
    .active {
        border-bottom: 3px solid $text;
    }
}