<h1>My Languages</h1>

<table>
<thead>
    <tr>
        <th>Country</th>
        <th>Language</th>
        <th>Progress</th>
    </tr>
</thead>
<tbody>
<% @langs.each do |l| %>

    <tr>
        <td><%=l.language.country %></td>
        <td><%= l.language.language %></td>
        <td></td>
    </tr>

<% end %>
</tbody>
</table>

<p><%= link_to "Adopt a Language", new_user_adopted_language_path(current_user) %></p>