<div class='header'>

    <p class='beta'>Beta Release Version 0.2.1</p>

    <div class='logo'>

        <%= image_tag 'logo-black.png'%>

    </div>

    <div class="navigation" id='nav'>

        <%= render 'layouts/nav' %>

    </div>

    <div class="hamburger" id='hamburger'>
        <p id="ham">&#9776;</p>
        <p id='cross'>X</p>
    </div>

</div>